@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
:root {
	--gray: #333;
	--main: #956d84;
	--white: #fff;
	--light-gray: #828282;
}
* {
	font-family: 'MuseoModerno', serif;
	font-optical-sizing: auto;

	font-style: normal;
}
